@model Hyushik_TournMan_Web.Classes.ViewModels.ActivatedTournamentsViewModel

<div>
    <h2>Active Tournaments</h2>
    <div class="col-md-4 col-sm-6 col-xs-12">
    @if (Model.ActiveTournaments.Count > 0)
    {
        <div class="list-group">
                        <b class="list-group-item active">Tournament Name</b>
            @foreach (var tourn in Model.ActiveTournaments)
            {
              <a href="@Url.Action("Index", "ActiveTournament", new { tournId=tourn.Id})" class="list-group-item"> @tourn.Name </a>
            }
        </div>
    }
    else { 
        <div>No Active Tournaments</div>
    }
    </div>
</div>