@model Hyushik_TournMan_Web.Classes.ViewModels.ActiveTournamentViewModel

<div>
    <h2>@Model.Tournament.Name</h2>
</div>

<div>
    @Html.Partial("_breakingResults", Model.BreakingScoreListingViewModel)
</div>