@model Hyushik_TournMan_Common.Models.Tournament
<div>
    <h2>Ring Check In</h2>

    <div>
        @using (Html.BeginForm("RingCheckIn", "ActiveTournament", FormMethod.Post, new { EncType = "multipart/form-data" })) 
        { 
            <input name="tournId" type="hidden" value="@Model.Id">
            <span>Ring:</span>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    @Html.DropDownList("ringId", new SelectList(Model.Rings,"Id", "Name"),  new { @class="form-control input-sm" })
                </div>
            </div>
            <span>Participant QR Code:</span>
            <input id="file" name="file" type="file" accept="image/*" capture="camera" />
            <button class="btn btn-primary btn-sm">Add to Ring</button>
        }
    </div>

</div>