@model Hyushik_TournMan_Common.Models.Tournament
<div>
    <h2>Ring Check In</h2>

    <div>
        @using (Html.BeginForm("RingCheckIn", "Scoring", FormMethod.Post)) 
        { 
            <input name="tournId" type="hidden" value="@Model.Id">
            <span>Ring:</span>
            @Html.DropDownList("ringId", new SelectList(Model.Rings,"Id", "Name"));
            <span>Participant QR Code:</span>
            <!--put code loader here-->
        }
    </div>

</div>