.top-buffer { margin-top:20px; }

b.list-group-item.active,
b.list-group-item.active:hover,
b.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.station ul {
    display: none;
    list-style-type: none;
    padding: 0;
}
.station li {
    display:inline-block;
}

#techniqueSelection li:first-child{
    margin-top: 10px;
}

.form-group.form-group-small{
    margin-bottom:7px;
}

.form-group.form-group-none{
    margin-bottom:0px;
}

.invalid input:required:invalid {
    background: #BE4C54;
}

.invalid input:required:valid {
    background: #17D654 ;
}

input {
  display: block;
  margin-bottom: 10px;
}