@model Hyushik_TournMan_Web.Classes.ViewModels.StationViewModel

<div class="station">
        <ul>
            <li> 
                <span class="technique sectionTop"><button class = "displayTechnique">Technique</button></span>
                @Html.Partial("_BreakingEntryTechniqueList", Model.BaseTechniques)
            </li>
            <li> 
                @Html.Partial("_BreakingEntryBoards", Model.BoardsViewModel)
            </li>
            <li> 
                <span class="attempts sectionTop"><button class = "dosplayAttempts">Attempts</button></span>
                <ul>
                    <li>
                        @Html.TextBoxFor(model=>model.Attempts)Attempts</li>
                    <li class = "sectionBack">
                        <button >Done</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
