@model Hyushik_TournMan_Web.Classes.ViewModels.JudgeBreakingScoringViewModel

<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <h2>Please Enter Score</h2>
        @using (Html.BeginForm("JudgeBreakingEntry", "Scoring", FormMethod.Post))
        {
            <div class="form-group">
            @Html.HiddenFor(model=>model.EntryId)
            @Html.TextBoxFor(model => model.SubjectiveScore, new { @class = "form-control", @type="number", @min="1",  @max="10", step="1", @pattern="\\d+", @required="true"})
            </div>
            <div class="form-group">
                <button class="btn btn-default" onclick="window.history.back()" type="button" >Cancel</button>
                <button class="btn btn-primary submitBreaking">Enter</button>
            </div>
        }
    </div>
</div>


