@using Hyushik_TournMan_Web.Classes.Constants

<div>
    @if (TempData[WebConstants.Parameters.NOTIFICATIONS] != null)
    {
        IDictionary<string, string> notifications = (Dictionary<string, string>)TempData[WebConstants.Parameters.NOTIFICATIONS];
        foreach(var message in notifications.Keys)
         {
            <div class="alert @notifications[message]">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @message
            </div>
         }
    }
</div>

