@model Hyushik_TournMan_Web.Classes.ViewModels.TournamentsViewModel
<div>
    <h3>Tournaments</h3>
    <hr />
    <div>
        @if (Model.Tournaments.Count > 0)
        {
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="list-group">
                        <b class="list-group-item active">Tournament Name</b>
                        @foreach (var tournament in Model.Tournaments)
                        {
                            @Html.ActionLink(@tournament.Name, "Tournament", "Admin", new { id=tournament.Id }, new { @class = "list-group-item" })
                        }
                    </div>
                </div>
            </div>
        }
        else { 
            <span>No Tournaments Found</span>
        }
    </div>
    <div>
        @using (Html.BeginForm("AddTournament", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.DisplayFor(m => m.NewTournamentName);
            @Html.TextBoxFor(m => m.NewTournamentName);
            <input type="submit" value="Add" />
        }
    </div>
</div>