@model Hyushik_TournMan_Common.ViewModels.AdminViewModel
@{
    ViewBag.Title = "Admin";
}

<h2>Admin Panel</h2>
<div>
    <div>
        @Html.Partial("../Shared/_Notifications")
    </div>
    <div>
        @Html.Partial("_Tournaments", Model.Tournaments)
    </div>
    <div>
        @Html.Partial("_importCSV")
    </div>
</div>