@model Hyushik_TournMan_Web.Classes.ViewModels.AdminViewModel
@{
    ViewBag.Title = "Admin";
}

<h2>Admin Panel</h2>
<div>
    <div>
        @Html.Partial("_Tournaments", Model.TournamentViewModel)
    </div>
    <div>
        @Html.Partial("_importCSV", Model.ImportCsvViewModel)
    </div>
    <div>
        @Html.Partial("_UserRoles", Model.UserRolesViewModel)
    </div>
</div>